<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13693930430-ie0uokvt4ch3hgfu2gcijsgfubasin4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13693930430-ie0uokvt4ch3hgfu2gcijsgfubasin4f</string>
	<key>API_KEY</key>
	<string>AIzaSyDuNv7pU6Bp3GbquqV5qsqlr5rYggTO-tE</string>
	<key>GCM_SENDER_ID</key>
	<string>13693930430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.munidigital.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-5ac39</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-5ac39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13693930430:ios:913cacbc9bda41c8d1c7ef</string>
</dict>
</plist>